*{
	box-sizing: border-box;
}
body{
	font-family: "Apple Chancery Brush Script Std"; 

}

h1{
text-align: center;
margin: 50px;
font-size: 1.75em;
}
h3{
	

}

div > div{
	border: 3px solid black;
	margin: 15px;
    background-color: DarkGrey;
    position: relative;
}

#Chicken{
	background-color: #ff5500;
}

#Beef{
	background-color: #e60000;
}

#Sushi{
	background-color: #6666ff;
}

.heading{
	width:160px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	margin-bottom: 15px;
	margin-top: 0px;
	font-size: 1.75em;
}

.text{
	padding: 15px;
	font-size: 1.25em;
	margin-top: 30px;
}

 .table{
  	float: left;
    width: 100%;
  }

@media (min-width: 1200px) {
  .col-lg-4 {
  		width: 33.33%;
  }
  
}


@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-6,.col-md-12 {
    
  }
  
  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

 
}